body {
  font-style: $fs-regular;
  font-weight: $fw-light;
  font-family: $font-text;
  background: $color-background;
}

h1 {
  font-size: $base-unit;
  font-family: $font-logo, $font-header;
  font-weight: $fw-regular;
  color: $color-section-background;
}

h2 {
  font-size: $base-unit * 0.8;
  font-weight: $fw-bold;
  color: $color-dark-lighter;
  margin: 0;
}

h3 {
  font-size: $base-unit * 0.7;
  font-weight: $fw-medium;
  color: $color-dark-lighter;
}

a {
  color: $color-link;
  font-size: $base-unit * 0.8;
  text-decoration: none;
  font-weight: $fw-light;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

.container {
  max-width: $base-unit * 34.5;
}

.btn {
  font-size: $base-unit * 0.9;
  font-weight: $fw-light;
  height: $base-unit * 2;
  padding: 0 $base-unit * 0.5;
  border: none;
  cursor: pointer;
  border-radius: $base-unit * 0.2;

  .btn-icon {
    display: block;
    width: $base-unit;
    height: $base-unit;
    filter: invert(1);
  }
}

.btn-main {
  background: $color-main;

  &:hover {
    background: $color-main-active;
  }
}
