/* Colors */

$color-section-background: #f5f5f2;
$color-dark: #333;
$color-dark-lighter: #979797;
$color-main: #f58220;
$color-main-light: #ffa200;
$color-active: #04ae00;
$color-active-light: #74b67a;
$color-link: #56819f;
$color-table-hover: #e3e3e3;
$color-danger: #ff0000;

/* Font sizes */

/* Fonts */
