.section {
  background-color: $color-section-background;
  max-width: $base-unit * 52.5;
  margin: 0 $base-unit $base-unit $base-unit * 10;
  box-shadow: 0 $base-unit * 0.1 $base-unit * 0.2 0 rgba(0, 0, 0, 0.2);

  @include min-media($br-xl-desktop) {
    margin: 0 auto;
    max-width: 70%;
  }
}

.section__header {
  padding: $base-unit * 0.75;
  border-bottom: $base-unit * 0.1 solid $color-border;
}

.content__list-digit {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 $base-unit * 3.75 0;
  max-height: $base-unit * 5.5;

  .list-digit__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $base-unit * 16;
    padding: $base-unit * 1.15 0 $base-unit * 0.5;
    border-bottom: $color-border solid $base-unit * 0.1;
  }
}

.content__earnings-chart {
  margin-bottom: $base-unit * 3;

  .earnings-chart__header {
    margin-bottom: $base-unit * 2;
  }

  .earnings-chart__color-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $base-unit * 3.75;

    .color-tabs__item {
      margin: 0 $base-unit * 0.5;
    }
  }
}
